/* Celular Retrato */
@media (max-width:600px) and (orientation: portrait) {
    .btn-option {
        width: 100%;
        margin-right: 0px;
        padding: 16px 10px;
    }

    .Glowing-btn {
        height: 60px;
    }

    .quizz_logo > h3 {
        text-align: center;
    }

    .quizz_results {
        height: 950px;
        padding: 10px;
    }
}

/* Celular Paisagem */
@media (max-width:800px) and (orientation: landscape) {
    .btn-option {
        width: 100%;
        margin-right: 0x;
    }

    .quizz_results {
        height: 550px;
        padding: 10px;
    }
}

/* Tablet Retrato */
@media (min-width: 601px) and (max-width: 800px) and (orientation: portrait) {
    .btn-option {
        width: 100%;
        margin-right: 0x;
        padding: 16px 10px;
    }
    .Glowing-btn {
        height: 60px;
    }

    .quizz_results {
        height: 800px;
    }
}

/* Tablet Paisagem */
@media (min-width: 801px) and (max-width: 1024px) and (orientation: landscape) {
    .btn-option {
        width: 100%;
        margin-right: 0x;
    }

    .quizz_results {
        height: 500px;
    }
}